@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
.card{
    width: 400px;
    background-color:#35c2aa;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
  }
  .container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
h1 {
    width: 90%;
    text-align: center;
    font-family:'Pokemon Solid', sans-serif;
    font-size:50px;
    color:#a4b325;
}